.FilterBlock {
 margin: 10px;
 padding: 10px;
}

.FilterBlock .FilterSelect {
    width: 400px;
}
.FilterBlock .FilterMenu {
    margin: 5px;
}

.FilterBlock .FilterMenu .FilterCheckBox {
    margin: 5px;
}

.FilterBlock .FilterMenu .FilterTypeText {
    margin: 5px;
    width: 280px;
}

.FilterBlock .FilterMenu .FilterButton {
    margin: 5px;
}